.weather__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.div__icon {
    width: 5rem;
    height: 5rem;
    z-index: 1000;
}

.h__icon:hover {
   transform: scale(1.1);
   transition: all .5s ease-in-out; 
}

.list__p{
    display: flex;
    margin: 0;
}

.list__p:hover {
    transform: scale(1.1);
    transition: all .5s ease-in-out;    
}

.description {
    display: inline-block;
    font-weight: 900;
    background-image: linear-gradient(to bottom, rgba(50, 92, 168), rgba(168, 50, 158));
    -webkit-background-clip: text;
    color: transparent;
   
}