.footer {
    background-color: #5832a8;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1.5rem;
    font-weight: bold;
}

.footer__left {
    width: 20%;
}

.footer__right {
    width: 20%;
}

.footer__right-icons {
    display: flex;
    justify-content: space-between;
}

.footer__right-link {
    color: #fff;
    text-decoration: none;
}

.footer__right-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 460px) {
    .footer__right {
        width: 37%;
    }
    
    
}
