.weather__wrapper {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    flex-direction: column;
    font-weight: bold;
    padding: 1.5rem;
}
