.toggle__wrapper {
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}
.toggle__list {
    list-style: none;
    display: flex;
    margin-bottom: 1rem;
}

.toggle__title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.toggle__link {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    display: block;
    color: #ffffff;
    background-color: #5832a8;
    padding: 0 1rem .2rem;
    border-radius: 3px;
}
.toggle__link:hover, .toggle__link:active {
    background-color: #7139c9;
}

.toggle-weather__item {
    margin-right: 1rem;
}


@media screen and (max-width: 460px) {
    .toggle__title {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}
